choice
	prompt "BOARD type"
	depends on BOARD_WATCH
	default WATCH_NEWTON2


config WATCH_NEWTON2
       bool "watch newton2"
       depends on BOARD_WATCH

config WATCH_AW808
       bool "watch aw808"
       depends on BOARD_WATCH
endchoice

if WATCH_AW808
source "arch/mips/xburst/soc-m200/chip-m200/watch/aw808/Kconfig"
endif

config BOARD_NAME
	string "BOARD_NAME"
	default "newton2" if WATCH_NEWTON2
	default "aw808" if WATCH_AW808

